<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <div>{{ variable1 }}</div>
    <div>{{ variable2 }}</div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import getEnv from '@/utils/env'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return {
      variable1: getEnv('VUE_APP_VARIABLE_1'),
      variable2: getEnv('VUE_APP_VARIABLE_2')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
